[submodule "alacritty"]
	path = alacritty
	url = git@github.com:sskender/alacritty.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:sskender/tmux.git
[submodule "zshrc"]
	path = zshrc
	url = git@github.com:sskender/zshrc.git
[submodule "vimrc"]
	path = vimrc
	url = git@github.com:sskender/vimrc.git
